@import url('font/inter.css');

.header {
  background-color: #2A2C2F;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  min-height: 80px;
  margin: 0 auto;
}
.logo {

}
.header__links {
  font: 400 24px/28px 'Inter';
}
.header__link {
  color: #fff;
  text-decoration: none;
}
.header__link_active {
  /* text-decoration: underline; */
}
.lead {
  background-color: #2A2C2F;
}
.lead__container {
  width: 90%;
  margin: 0 auto;
  color: #fff;
}
.lead__title {
  width: 720px;
  margin: 0 auto 32px auto;
  font: 900 96px/100px 'Inter';
  text-align: center;
}
.lead__subtitle {
  width: 640px;
  margin: 0 auto;
  font: 400 30px/36px 'Inter';
  text-align: center;
}
.lead__cover {
  width: 984px;
  min-height: 615px;
  background: url('images/polka-1280.jpg');
}
.gallery {
  background-color: #2A2C2F;
}
.gallery__container {
  display: grid;
  grid-template-rows: repeat(3, 213px);
  grid-template-columns: repeat(4, 284px);
  grid-gap: 16px;
  width: 1184px;
  margin: 0 auto;
}
/* >1140px - десктопы. Сюда попадает макет 1280px.
от 984px до 1140px - ноутбуки. Сюда попадает макет 1024px.
от 568 до 984px - планшеты. Сюда попадает макет 768px.
<568px - мобильные устройства. Сюда попадает макет 320px. */
