.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 48px;
  margin: 0 auto;
  color: #fff;
  box-sizing: border-box;
}
@media screen and (min-width: 568px) and(max-width: 983px) {
  .lead {
    padding: 0;
  }
}
/* Smartphones */
@media screen and (max-width: 567px) {
  .lead {
    padding: 0;
  }
}
