.intro__container {
  max-width: 984px;
  margin: 0 auto;
}
/* Tablets */
@media screen and (min-width: 568px) and
(max-width: 983px) {
  .intro__container {
    max-width: 720px;
  }
}
/* Smartphones */
@media screen and (max-width: 567px) {
  .intro__container {
    max-width: 288px;
  }
}
