.intro {
  width: 100%;
  max-width: 984px;
  color: #fff;
}
/* Tablets */
@media screen and (min-width: 568px) and
(max-width: 983px) {
  .intro {
    padding: 0 24px;
  }
}
/* Smartphones */
@media screen and (max-width: 567px) {
  .intro {
    padding: 0 16px;
  }
}
