.lead__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 984px;
  margin: 0 auto;
  color: #fff;
}
@media screen and (min-width: 984px) and (max-width: 1140px) {
  .lead__container {
    max-width: 928px;
  }
}
/* Tablets */
@media screen and (min-width: 568px) and
(max-width: 983px) {
  .lead__container {
    max-width: 768px;
  }
}
/* Smartphones */
@media screen and (max-width: 567px) {
  .lead__container {
    max-width: 320px;
  }
}
